extends layout

block content
 .row
  form.form-search(method="post", action="/", enctype="x-www-form-urlencoded")
   .large-4.columns
    input.form-control(type='text',name="name",placeholder="Twitter Name")
   .large-4.columns
    .large-6.columns
     select(name='count')
      option(value='10') 10
      option(value='50') 50
      option(value='100') 100
    .large-6.columns
     input.small.radius.button(type="submit",name="search",value="Search")
   .large-4.columns &nbsp;
 if data && name && time
  .output
   hr
   .row
    .large-6.columns
     h3
       | Top keywords of
       = ' @'+name
    .large-6.columns
   .row
    .small-3.columns
      .large-6.columns.searchresheading Keyword
      .large-6.columns.searchresheading Count
   .row
    .small-3.columns
     each d in data
      .large-6.columns.searchres= d.text
      .large-6.columns.searchres= d.count
    .small-3.columns &nbsp;
    .small-3.columns
   .row
    .small-3.columns 
   .row
    .small-3.columns &nbsp;
     p 
      | processed time
      = ' '+time + ' seconds'