html
 head
  title Welcome to Twitter Handler App
  link(rel="stylesheet",type="text/css",href='css/styles.css')
  link(rel="stylesheet",type="text/css",href='css/foundation.min.css')
 body
  .container
   block content
