extends layout

block content
 .row
  .large-6.columns
   h3
     | Top keywords of
     = ' @'+name
  .large-6.columns
 .row
  .small-3.columns
    .large-6.columns.searchresheading Keyword
    .large-6.columns.searchresheading Count
 .row
  .small-3.columns
   each d in data
    .large-6.columns.searchres= d.text
    .large-6.columns.searchres= d.count
  .small-3.columns &nbsp;
  .small-3.columns
 .row
  .small-3.columns 
 .row
  .small-3.columns &nbsp;
   p 
    | processed time
    = ' '+time + ' seconds'
 .row
  .small-3.columns 
   a(href='/') << Back to Search
