body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-search {
  padding-top: 15px;
  margin: 0 auto;
}
.form-search .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-search .form-control:focus {
  z-index: 2;
}
.searchres {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    margin-bottom: 1px;
    padding: 1px;
    background: #ccc;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
}
.searchresheading {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    color: #fff;
    margin-bottom: 1px;
    padding: 1px;
    background: #0079a1;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
}